html {font-family: sans-serif;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;}
body {margin: 0;}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {display: block;}
audio, canvas, progress, video {display: inline-block;vertical-align: baseline;}
audio:not([controls]) {display: none;height: 0;}
[hidden], template {display: none;}
a {background-color: transparent;}
a:active, a:hover {outline: 0;}
abbr[title] {border-bottom: 1px dotted;}
b, strong {font-weight: bold;}
dfn {font-style: italic;}
sub, sup {font-size: 75%;line-height: 0;position: relative;vertical-align: baseline;}
sup {top: -.5em;}
sub {bottom: -.25em;}
img {border: 0;}
svg:not(:root) {overflow: hidden;}
hr {box-sizing: content-box;height: 0;}
pre {overflow: auto;}
code, kbd, pre, samp {font-family: monospace,monospace;font-size: 1em;}
button, input, optgroup, select, textarea {color: inherit;font: inherit;margin: 0;}
button {overflow: visible;}
button, select {text-transform: none;}
button, html input[type="button"], input[type="reset"], input[type="submit"] {-webkit-appearance: button;cursor: pointer;}
button[disabled], html input[disabled] {cursor: default;}
button::-moz-focus-inner, input::-moz-focus-inner {border: 0;padding: 0;}
input {line-height: normal;}
input[type="checkbox"], input[type="radio"] {box-sizing: border-box;padding: 0;}
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {height: auto;}
input[type="search"] {-webkit-appearance: textfield;box-sizing: content-box;}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {-webkit-appearance: none;}
legend {border: 0;padding: 0;}
textarea {overflow: auto;}
optgroup {font-weight: bold;}
table {border-collapse: collapse;border-spacing: 0;}
td, th {padding: 0;}
.animate-item-size-item {float: left;}
.animate-item-size-item, .animate-item-size-item__content {width: 60px;height: 60px;}
.animate-item-size-item__content {background: #8df;border: 2px solid #333;border-color: hsla(0,0%,0%,.7);-webkit-transition: width .4s,height .4s;-moz-transition: width .4s,height .4s;-o-transition: width .4s,height .4s;transition: width .4s,height .4s;}
.animate-item-size-item:hover .animate-item-size-item__content {border-color: white;background: #4bf;cursor: pointer;}
.animate-item-size-item.is-expanded, .animate-item-size-item.is-expanded .animate-item-size-item__content {width: 180px;height: 120px;}
.animate-item-size-item.is-expanded {z-index: 2;}
.animate-item-size-item.is-expanded .animate-item-size-item__content {background: #f90;}
.grid--animate-item-size-responsive .animate-item-size-item, .grid--animate-item-size-responsive .grid-sizer {width: 20%;}
.grid--animate-item-size-responsive .animate-item-size-item__content, .grid--animate-item-size-responsive .animate-item-size-item.is-expanded .animate-item-size-item__content {width: 100%;height: 100%;}
.grid--animate-item-size-responsive .animate-item-size-item.is-expanded {width: 60%;}
.bootstrap-3__container-fluid {padding-right: 15px;padding-left: 15px;margin-right: auto;margin-left: auto;}
.bootstrap-3__col-xs-4, .bootstrap-3__col-xs-6, .bootstrap-3__col-xs-8, .bootstrap-3__col-xs-12 {padding-right: 15px;padding-left: 15px;}
.bootstrap-3__col-xs-4 {width: 33.333%;}
.bootstrap-3__col-xs-6 {width: 50%;}
.bootstrap-3__col-xs-8 {width: 66.666%;}
.bootstrap-3__grid-item-content {height: 100px;background: #e6e5e4;border: 2px solid #b6b5b4;border-color: hsla(0,0%,0%,.4);}
.bootstrap-3__grid-item-content--height2 {height: 200px;}
@media (min-width: 768px) {.bootstrap-3__col-sm-4 {width: 33.333%;}
	.bootstrap-3__col-sm-8 {width: 66.666%;}}
@media (min-width: 992px) {.bootstrap-3__col-md-3 {width: 25%;}
	.bootstrap-3__col-md-6 {width: 50%;}}
.button {display: inline-block;padding: 5px 15px;margin-bottom: 10px;background: #eee;border: none;border-radius: 7px;background-image: linear-gradient(to bottom,hsla(0,0%,0%,0),hsla(0,0%,0%,.2));color: #222;font-weight: 500;text-shadow: 0 1px white;cursor: pointer;}
.button:hover {background-color: #8cf;text-shadow: 0 1px hsla(0,0%,100%,.5);color: #222;}
.button:active, .button.is-checked, .button.is-selected {background-color: #28f;}
.button.is-checked, .button.is-selected {color: white;text-shadow: 0 -1px hsla(0,0%,0%,.8);}
.button:active {box-shadow: inset 0 1px 10px hsla(0,0%,0%,.8);}
.button input[type="radio"] {display: none;}
.button-group:after {content: "";display: block;clear: both;}
.button-group .button {float: left;border-radius: 0;margin-right: 1px;}
.button-group .button:first-child {border-radius: .5em 0 0 .5em;}
.button-group .button:last-child {border-radius: 0 .5em .5em 0;}
.buy-button {display: block;margin-bottom: 10px;line-height: 1.3em;border-radius: 8px;padding: 10px 100px 10px 10px;background: #161615;color: #1fb;position: relative;text-align: center;}
.buy-button__for {display: block;font-style: italic;}
.buy-button__price {position: absolute;right: 0;top: 0;height: 100%;width: 80px;border-radius: 0 8px 8px 0;font-size: 1.6em;background: #1bf;color: white;text-align: center;line-height: 64px;}
.buy-button__price__dollar {font-size: .6em;margin-right: 3px;vertical-align: top;}
.buy-button:hover {color: #fb4;}
.buy-button:hover .buy-button__price {background: #fb4;}
@media screen and (min-width: 768px) {.buy-button-trio {margin-top: 40px;margin-bottom: 50px;}
	.buy-button-trio:after {content: "";display: block;clear: both;}
	.buy-button-trio .buy-button {float: left;width: 31.33%;margin-right: 3%;}
	.buy-button-trio .buy-button:nth-child(3) {margin-right: 0;}
	.buy-button-trio .buy-button {transition: transform .2s;padding: 20px 0 0;}
	.buy-button-trio .buy-button > span {display: block;padding-left: 10px;padding-right: 10px;}
	.buy-button-trio .buy-button__project, .buy-button-trio .buy-button__license {font-size: 1.1em;}
	.buy-button-trio .buy-button__title {font-size: 1.9em;line-height: 1.2;}
	.buy-button-trio .buy-button__license {margin-bottom: 15px;}
	.buy-button-trio .buy-button__for {margin-bottom: 20px;font-size: 1.1em;}
	.buy-button-trio .buy-button__price {position: relative;width: auto;font-size: 2.4em;line-height: 1.3;padding-top: 15px;padding-bottom: 10px;border-radius: 0 0 8px 8px;}
	.buy-button-trio .buy-button__price__dollar {position: relative;top: 8px;}
	.buy-button-trio .buy-button:hover {transform: translateY(-5px);}}
.call-out {border-top: 2px solid #fb4;border-bottom: 2px solid #fb4;padding-left: 40px;position: relative;margin: 20px 0;}
.call-out:before {content: "i";display: block;width: 20px;height: 20px;position: absolute;left: 5px;top: 20px;background: #fb4;border-radius: 50%;text-align: center;color: white;font-family: Consolas,Georgia,serif;font-style: italic;}
.call-out h2 {margin-top: 0;padding-top: 10px;border-top: none;}
.call-out--chill {border-color: #1fb;}
.call-out--chill:before {background: #1fb;}
@media screen and (min-width: 768px) {.call-out {border: 2px solid #fb4;padding: 10px 20px 10px 80px;border-radius: 6px;position: relative;margin: 20px 0;}
	.call-out--chill {border-color: #1fb;}
	.call-out:before {width: 40px;height: 40px;left: 20px;top: 30px;font-size: 1.9em;line-height: 46px;}}
.color-shape {width: 70px;height: 70px;margin: 5px;float: left;}
.color-shape.round {border-radius: 35px;}
.color-shape.big.round {border-radius: 75px;}
.color-shape.red {background: red;}
.color-shape.blue {background: blue;}
.color-shape.yellow {background: yellow;}
.color-shape.wide, .color-shape.big {width: 150px;}
.color-shape.tall, .color-shape.big {height: 150px;}
*[data-license-property] {color: #4bf;}
.duo:after {content: "";display: block;clear: both;}
.duo__cell {margin-bottom: 10px;}
.duo--legal__plain {padding: 0 .8em;background: #161615;color: #aaa;}
.duo--legal--first .duo--legal__official:before, .duo--legal--first .duo--legal__plain:before {display: block;padding-top: .5em;font-size: .88em;color: #888;}
.duo--legal--first .duo--legal__official:before {content: "Official legal copy";}
.duo--legal--first  .duo--legal__plain:before {content: "Plain English";}
@media screen and ( min-width: 768px ) {.duo__cell {float: left;width: 48.5%;}
	.duo__cell:first-child {margin-right: 3%;}
	.duo__cell--license-option p {margin-top: 0;}}
.edit-demo {clear: both;font-size: .92em;}
.element-item {position: relative;float: left;width: 100px;height: 100px;margin: 5px;padding: 10px;background: #888;color: #262524;}
.element-item > * {margin: 0;padding: 0;}
.element-item .name {position: absolute;left: 10px;top: 60px;text-transform: none;letter-spacing: 0;font-size: .8em;font-weight: normal;}
.element-item .symbol {position: absolute;left: 10px;top: 0px;font-size: 2.8em;font-weight: bold;color: white;}
.element-item .number {position: absolute;right: 8px;top: 5px;}
.element-item .weight {position: absolute;left: 10px;top: 76px;font-size: .8em;}
.element-item.alkali {background: #f00;background: hsl(0,100%,50%);}
.element-item.alkaline-earth {background: #f80;background: hsl(36,100%,50%);}
.element-item.lanthanoid {background: #ff0;background: hsl(72,100%,50%);}
.element-item.actinoid {background: #0f0;background: hsl(108,100%,50%);}
.element-item.transition {background: #0f8;background: hsl(144,100%,50%);}
.element-item.post-transition {background: #0ff;background: hsl(180,100%,50%);}
.element-item.metalloid {background: #08f;background: hsl(216,100%,50%);}
.element-item.diatomic {background: #00f;background: hsl(252,100%,50%);}
.element-item.halogen {background: #f0f;background: hsl(288,100%,50%);}
.element-item.noble-gas {background: #f08;background: hsl(324,100%,50%);}
.grid {border: 2px solid #484542;background: hsla(0,0%,0%,.15);position: relative;}
.grid:after {content: "";display: block;clear: both;}
.grid--counting {counter-reset: item;}
.grid--counting .grid-item:before {counter-increment: item;content: counter(item);display: block;color: #555;padding-top: .2em;text-align: center;font-size: 18px;}
.grid--horizontal {height: 334px;}
.grid--has-banner {position: relative;}
.static-banner {position: absolute;left: 10px;top: 10px;background: hsla(210,100%,50%,.8);z-index: 1;padding: 2px 20px;color: white;pointer-events: none;}
.grid--fixed-width {width: 304px;}
.grid--has-stamp {position: relative;}
.grid--fit-width {margin: 0 auto;}
.grid-image-item, .grid--images .grid-sizer {width: 33.33%;}
.grid-image-item {float: left;}
.grid-image-item img {display: block;max-width: 100%;}
.grid-item {float: left;width: 50px;height: 50px;background: #e6e5e4;border: 2px solid #b6b5b4;border-color: hsla(0,0%,0%,.4);}
.grid-item--width2 {width: 100px;}
.grid-item--height2 {height: 100px;}
.grid-item--width3 {width: 150px;}
.grid-item--height3 {height: 150px;}
.grid-item--gigante {width: 150px;height: 200px;}
.grid--clickable .grid-item:hover {border-color: #28f;background: #8cf;cursor: pointer;}
.grid-item .number {line-height: 50px;text-align: center;color: #333;margin: 0;font-size: 1.3rem;}
.grid--fluid-5-col .grid-item, .grid--fluid-5-col .grid-sizer {width: 20%;}
.grid--fluid-5-col .grid-item--width2 {width: 40%;}
.grid--has-gutter .grid-item--width2 {width: 110px;}
.grid--masonry-gutter-bottom .grid-item {margin-bottom: 10px;}
.grid--masonry-gutter-bottom .grid-item--height2 {height: 110px;}
.grid--packery-gutter .grid-item--width2 {width: 110px;}
.grid--packery-gutter .grid-item--height2 {height: 110px;}
.grid--fluid-gutter .grid-item, .grid--fluid-gutter .grid-sizer {width: 22%;}
.grid--fluid-gutter .gutter-sizer {width: 4%;}
.grid--fluid-gutter .grid-item--width2 {width: 48%;}
.grid--masonry-horizontal-gutter .grid-item--height2 {height: 110px;}
.grid--masonry-horizontal-gutter-right .grid-item {margin-right: 10px;}
.grid--masonry-horizontal-gutter-right .grid-item--width2 {width: 110px;}
.grid--cells-by-row-element-sizing .grid-item {width: 13%;}
.grid--cells-by-row-element-sizing .grid-item--width2 {width: 23%;}
.grid--cells-by-row-element-sizing .grid-sizer {width: 25%;height: 110px;}
.grid--cells-by-column-element-sizing .grid-item {height: 13%;}
.grid--cells-by-column-element-sizing .grid-item--width2 {height: 23%;}
.grid--cells-by-column-element-sizing .grid-sizer {height: 25%;width: 110px;}
.grid--fit-rows-gutter .grid-item--width2 {width: 110px;}
.grid--fit-rows-gutter .grid-item--width3 {width: 170px;}
.grid-splash-item {float: left;width: 100px;height: 100px;margin: 5px;padding: 20px;background: red;color: white;font-size: 3rem;font-weight: bold;line-height: 1;}
.grid-splash-item--width2 {width: 210px;}
.grid-splash-item--height2 {height: 210px;}
.grid-splash-item:nth-child(10n+0) {background: hsl(0,100%,50%);}
.grid-splash-item:nth-child(10n+1) {background: hsl(36,100%,50%);}
.grid-splash-item:nth-child(10n+2) {background: hsl(72,100%,50%);}
.grid-splash-item:nth-child(10n+3) {background: hsl(108,100%,50%);}
.grid-splash-item:nth-child(10n+4) {background: hsl(144,100%,50%);}
.grid-splash-item:nth-child(10n+5) {background: hsl(180,100%,50%);}
.grid-splash-item:nth-child(10n+6) {background: hsl(216,100%,50%);}
.grid-splash-item:nth-child(10n+7) {background: hsl(252,100%,50%);}
.grid-splash-item:nth-child(10n+8) {background: hsl(288,100%,50%);}
.grid-splash-item:nth-child(10n+9) {background: hsl(324,100%,50%);}
.hero__title {font-size: 4.6rem;line-height: 1.2;letter-spacing: -.01em;margin-bottom: .1em;}
.hero__tagline {font-size: 1.6rem;margin-bottom: .8em;line-height: 1.2;}
.hero__big-buttons__button {display: block;position: relative;padding: 10px 10px 10px 50px;min-height: 52px;font-size: 1.2rem;background: #161615;color: #fb4;border-radius: 8px;margin-bottom: 20px;}
.hero__big-buttons__button:hover {background: #4fb;color: #222;text-shadow: none;}
.hero__big-buttons__button .icon {position: absolute;left: 10px;top: 10px;font-size: 32px;}
@media screen and ( min-width: 960px ) {.hero__title {font-size: 7rem;}
	.hero__tagline {font-size: 2.1rem;}
	.hero__big-buttons__button {float: left;width: 31.333%;margin-right: 3%;font-size: 1.3rem;line-height: 1.2;padding-left: 86px;padding-top: 16px;min-height: 94px;margin-bottom: 40px;}
	.hero__big-buttons__button:last-child {margin-right: 0;}
	.hero__big-buttons__button .icon {font-size: 56px;left: 18px;top: 16px;}}
.in-use-grid .grid-sizer, .in-use-grid__item {width: 23.5%;}
.in-use-grid .gutter-sizer {width: 2%;}
.in-use-grid__item {display: block;background: #161615;float: left;margin-bottom: 20px;border-radius: 5px;}
.in-use-grid__item__title {margin: 0;padding: 10px;}
.in-use-grid__item__image {display: block;max-width: 100%;border-radius: 0 0 5px 5px;}
.metafizzy-wordmark {fill: white;}
.grid-multi-item {float: left;width: 100px;height: 100px;background: #e6e5e4;border: 2px solid #b6b5b4;border-color: hsla(0,0%,0%,.4);}
.grid-multi-item[data-color="blue"] {background: #19f;}
.grid-multi-item[data-color="red"] {background: #d00;}
.grid-multi-item[data-color="yellow"] {background: #fd0;}
.grid-multi-item .number {font-size: 4rem;font-weight: 600;color: white;padding-top: .1em;text-align: center;line-height: 90px;margin: 0;}
.nav__title {float: left;margin: 0;line-height: 44px;font-size: 1.5rem;}
.nav__title a {padding: 0 .8em;display: block;color: #4fb;}
.nav__title a:hover {background: #d26;color: white;}
@media screen and ( min-width: 768px ) {.page--index .nav__title {visibility: hidden;}}
.other-products {margin-bottom: 30px;}
.other-products__product > a {position: relative;display: block;padding: 0px;background: #262524;border-radius: 5px;color: #4bf;}
.other-products__product > a:hover {background: #1fb;color: #262524;}
.other-products__product > a:after {content: "";display: block;clear: both;}
.other-products__product__image {float: left;display: block;width: 100%;max-width: 140px;margin-right: 1em;border-radius: 5px 0 0 5px;}
.other-products__product__title {font-weight: bold;font-size: 2em;margin-bottom: .25em;margin-top: 0px;padding-top: 5px;}
.other-products__product__description {line-height: 1.2;}
.page-nav {padding: 1em 10px;font-size: .8rem;}
.page-nav__item {display: inline-block;}
.page-nav__item:after {content: " •";margin: 0 .3em;opacity: .5;}
.page-nav__item:last-child:after {content: none;}
.page-nav a {color: #4bf;}
.page-nav a:hover {color: #fb4;}
@media screen and ( min-width: 768px ) {.page-nav {list-style: none;padding: 0;padding-top: 20px;}
	.page-nav.is-fixed {position: fixed;left: 0;top: 0;width: 200px;}
	.page-nav__item {display: block;margin: 0;}
	.page-nav__item:after {content: none;}
	.page-nav__item a {display: block;padding: 3px 20px;}
	.page-nav__item--h3 a, .page-nav__item--h4 a {padding-left: 30px;}}
.primary-content {margin-left: 10px;margin-right: 10px;max-width: 1200px;}
.main .primary-content > * {max-width: 700px;}
.main .primary-content .go-wide, .main .primary-content .example {max-width: none;}
@media screen and ( min-width: 768px ) {.primary-content {margin-left: 220px;}
	.main .primary-content > * {max-width: 900px;}}
@media screen and ( min-width: 960px ) {.primary-content {margin-right: 6%;}}
.refactor-shirt {margin: 40px 0;}
.refactor-shirt__title {font-size: 1.6rem;}
.refactor-shirt__image {display: block;width: 100%;max-width: 1000px;margin-bottom: 10px;}
*/




.site-footer__brand {padding: 0 10px;}
.site-footer .metafizzy-logo {display: inline-block;width: 50px;}
.site-footer .metafizzy-wordmark {display: inline-block;width: 160px;height: auto;}
.site-footer__brand__link:hover .metafizzy-wordmark {fill: #4bf;}
.footer-copy {font-size: 1.2rem;}
@media screen and ( min-width: 768px ) {.site-footer__brand {width: 200px;position: absolute;left: 10px;top: 50px;}
	.site-footer .metafizzy-logo {display: block;width: 100px;margin: 20px auto 10px;}
	.site-footer .metafizzy-wordmark {display: block;width: 140px;margin: 0 auto;}}
.site-nav {list-style: none;margin-bottom: 0;padding: 0;}
.site-nav:after {content: "";display: block;clear: both;}
.site-nav__item {display: block;float: left;line-height: 44px;}
.site-nav__item__link {display: block;padding: 0 1em;}
.site-nav__item__link:hover {background: #161615;color: white;}
.page--filtering .site-nav__item--filtering .site-nav__item__link, .page--sorting .site-nav__item--sorting .site-nav__item__link, .page--layout .site-nav__item--layout .site-nav__item__link, .page--layout-modes .site-nav__item--layout-modes .site-nav__item__link, .page--options .site-nav__item--options .site-nav__item__link, .page--methods .site-nav__item--methods .site-nav__item__link, .page--events .site-nav__item--events .site-nav__item__link, .page--draggable .site-nav__item--draggable .site-nav__item__link, .page--license .site-nav__item--license .site-nav__item__link, .page--appendix .site-nav__item--appendix .site-nav__item__link, .page--faq .site-nav__item--faq a {color: #4bf;background: #161615;}
@media screen and ( min-width: 768px ) {.site-nav__item {float: none;}
	.site-nav__item {float: none;font-size: 1.1rem;line-height: 1.25;}
	.site-nav__item__link {padding: 7px 20px;}}
.stamp {position: absolute;width: 30%;height: 60px;background: orange;border: 4px dotted #161615;}
.stamp--stamp-option-demo-stamp1 {left: 30%;top: 10px;width: 20%;height: 100px;}
.stamp--stamp-option-demo-stamp2 {right: 10%;top: 20px;width: 70%;height: 30px;}
.stamp--packery {right: 20%;top: 80px;width: 45%;height: 90px;}
.grid--stamp-methods-demo .grid-item {opacity: .8;}
.stamp--stamp-methods-demo {left: 10px;top: 10px;}
.sub-nav {display: none;}
@media screen and ( min-width: 768px ) {.sub-nav-parent {position: relative;max-height: 2em;}
	.sub-nav {display: block;position: absolute;left: 100%;top: 0;list-style: none;width: 0;overflow: hidden;opacity: 0;transition: width .2s,opacity .2s;margin: 0;padding: 0;}
	.sub-nav-parent:hover .sub-nav {opacity: 1;width: 190px;z-index: 2;}
	.sub-nav-parent:hover, .sub-nav {background: #161615;}
	.sub-nav-parent > a:after {content: "...";}
	.sub-nav-parent:hover > a:after {content: none;}
	.sub-nav__item__link {display: block;padding: 5px 10px;}
	.sub-nav__item {font-size: 1rem;}}
.ui-group {display: inline-block;}
.ui-group__title {display: inline-block;vertical-align: top;font-size: 1.2rem;line-height: 40px;margin: 0 10px 0 0;font-weight: bold;}
.ui-group .button-group {display: inline-block;margin-right: 20px;}
.variable {margin: .5em 0;padding: 5px 10px;border-radius: 5px;background: hsla(0,0%,100%,.1);}
.variable__type {color: #adf;}
.variable__type, .variable__description {margin-left: 10px;}
.variable__type:before, .variable__description:before {content: "·";padding-right: .4em;display: inline-block;}
.vertical-list {list-style: none;margin: 0;padding: 0;border: 2px solid #484542;background: hsla(0,0%,0%,.15);}
.vertical-list__item {width: 100%;border-top: 1px solid #484542;}
.vertical-list__item > * {display: inline-block;padding: 3px 4px;}
.vertical-list__item .name {width: 20%;}
.vertical-list__item .symbol {width: 10%;}
.vertical-list__item .weight {width: 15%;}
.vertical-list__item .number {width: 10%;}
.vertical-list__item .category {width: 25%;}
* {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
code .string, code .tag .value {color: #0c4;}
code .number, code .cp, code .literal {color: #38f;}
code .keyword {color: #f73;}
code .kd, code .attribute {color: #dc8;}
code .title {color: #9cf;}
code .params {color: #98d;}
code .regexp {color: #fc8;}
code .o {color: #f63;}
code .nb {color: #aa97ac;}
code .comment {color: #999;font-style: italic;}
code .tag {color: #6cf;}
code .id {color: #abc;}
code .class {color: #a63;}
code .rules {color: #fed;}
code .m {color: #de8e50;}
code .nd {color: #9fad7e;}
code .hexcolor {color: #f63;}
code .at_rule {color: #088;}
code .isotope_var {color: #f3f;}
code .jquery_var {color: #df8;}
code .isotope_keyword {color: #0ff;text-decoration: underline;}
.code-display code {font-size: 18px;}
@font-face {font-family: "Texta";font-weight: bold;font-style: normal;src: url("../fonts/2D333F_0_0.woff2") format("woff2"),url("../fonts/2D333F_0_0.woff") format("woff");}
@font-face {font-family: "Texta";font-weight: normal;font-style: italic;src: url("../fonts/2D333F_1_0.woff2") format("woff2"),url("../fonts/2D333F_1_0.woff") format("woff");}
@font-face {font-family: "Texta";src: url("../fonts/2D333F_2_0.woff2") format("woff2"),url("../fonts/2D333F_2_0.woff") format("woff");}
@font-face {font-family: "icomoon";src: url("../fonts/icomoon.eot");src: url("../fonts/icomoon.eot?#iefix") format("embedded-opentype"),url("../fonts/icomoon.woff") format("woff"),url("../fonts/icomoon.ttf") format("truetype"),url("../fonts/icomoon.svg#icomoon") format("svg");font-weight: normal;font-style: normal;}
[data-icon]:before {font-family: "icomoon";content: attr(data-icon);speak: none;font-weight: normal;font-variant: normal;font-style: normal;text-transform: none;line-height: 1;-webkit-font-smoothing: antialiased;}
.icon {font-family: "icomoon";speak: none;font-style: normal;font-weight: normal;font-variant: normal;text-transform: none;line-height: 1;-webkit-font-smoothing: antialiased;}
.icon-file-download:before {content: "";}
.icon-folder-download:before {content: "";}
.icon-github:before {content: "";}
.main h1 {font-size: 3.8rem;}
.main h2 {font-size: 1.6rem;font-weight: normal;border-top: 2px solid #484542;padding-top: 1.1em;margin-top: 1.4em;}
.main h2:target {padding-left: .5em;background: #d26;color: white;}
.main h3 {font-size: 1.3rem;border-top: 1px solid #484542;padding-top: .8em;margin: 1.4em 0 .5em;}
@media screen and ( min-width: 800px ) {.main {padding-top: 20px;min-height: 540px;}
	.main h2 {font-size: 2.4rem;}
	.main h3 {font-size: 1.5rem;padding-top: 30px;}}
.instruction {font-size: 18px;margin-bottom: .2em;color: #888;}
#notification {display: none;position: fixed;z-index: 20;bottom: 0px;right: 0px;background: #a2c;padding: .5em;color: white;font-size: 20px;pointer-events: none;}
.support-button {font-size: 20px;}